<!DOCTYPE html>
<html ng-app="scrumApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Trello Scrum Weight Definer</title>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/jquery.signalR-2.1.1.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="Scripts/TrelloConnect.js"></script>
    <script src="https://api.trello.com/1/client.js?key=0bfd84a20f3dd1f72a79f0b68ade91d4&dummy=.js"></script>
    <script src="Scripts/controllers.js"></script>
</head>
<body ng-controller="ScrumCardsCtrl">
    <div ng-hide="inRoom">
        <input ng-hide="inRoom" ng-model="roomName" type="text"  placeholder="room" autofocus />
        <button ng-hide="inRoom" ng-click="joinRoom()" >Join Room</button>

    </div>
    <div ng-show="inRoom">
        <div ng-if="imAdmin">
            Select your card pack
            <select ng-model="query">
                <option ng-repeat="card in cards" value="{{card.name}}" ng-click="setCardPack(card.name)">{{card.name}} pack</option>
            </select>
        </div>
        Choose your estimate :
        
            <div ng-repeat="card in cards | filter:query">
                <button type="button" ng-repeat="value in card.values" ng-click="setWeight(value.weight)">
                    {{value.weight}}
                </button>
            </div>
        <div>
            Others:
            <button type="button" ng-repeat="okis in weightsVoted track by $index">
                {{okis}}
            </button>
            
            <button type="button" ng-repeat="holder in placeHolders() track by $index">
            </button>
        </div>
        <div ng-if="imAdmin">
            <button ng-click="reset()">Reset</button>
            <button ng-click="show()">Show</button>
        </div>

    </div>
</body>
</html>